frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
backend/venv/
.env
backend/.env
.DS_Store
.vscode/
.idea/
